:root {
    --primary-color: #2f3e46;
    --secondary-color: #354f52;
    --tertiary-color: #52796f;
    --fourthary-color: #84a98c;
    --fifthary-color: #fb8b24;
    --white-color: #ffffff;
    --background-color: #cad2c5;
}